<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="start.css">

    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-default" >
        <!-- <div class="container">
            <div class="navbar-header">
            <p class="navbar-brand">DAILY JOURNAL</p> 
            </div>
            <ul class="nav navbar-nav navbar-right putright " style=" display:inline">
                

                <li id="about"><a href="/about">ABOUT US</a></li>
                <li id="contact"><a href="/contact">CONTACT US</a></li>

            </ul>
        </div> -->




        <div class="topnav">
            
            <a href="/contact">Contact Us</a>
            <!-- <a href="/about">About</a> -->
          </div>
    </nav>




    <div class="btn-group">
        <h1>Online Mobile Shop</h1>

        <form action="/contact" method="post">

            <!-- <input type="submit"  class="btn-item" value="Contact us"> -->

        </form>
    </div>
    <form action="/cart" method="post">
        <div class="card">
            <img src="oppo1.png" alt="Denim Jeans" style="width:100%">
            <h1>OPPO Reno6 Pro 5G</h1>
            <p class="price">Rs.30000</p>
            <p>8 GB RAM | 128 GB ROM | 16.33 cm (6.43 inch) Full HD+ Display</p>
            <p><button name="oppo" value="oppo mobile">Add to Cart</button></p>
        </div>
        <br>
        <br>
        <br>
        <div class="card">
            <img src="apple1.jpg" alt="Denim Jeans" style="width:100%">
            <h1>iPhone 14 Plus</h1>
            <p class="price">Rs.90,900</p>
            <p>4 GB RAM | 128 GB | 16.33 cm (6.43 inch) Full HD+ Display</p>
            <p><button name="apple" value="apple mobile">Add to Cart</button></p>
        </div>

        <br>
        <br>
        <br>
        <div class="card">
            <img src="samsung.jpg" alt="Denim Jeans" style="width:100%">
            <h1>Samsung Galaxy S20 FE 5G</h1>
            <p class="price">Rs.23,500</p>
            <p>8 GB RAM | 128 GB | 16.33 cm (6.43 inch) Full HD+ Display</p>
            <p><button name="samsung" value="samsung mobile">Add to Cart</button></p>
        </div>
    </form>
</body>

</html>